<a href="https://colab.research.google.com/github/VikkiMba/Hamoye-Stage1-assessment/blob/master/Victor_Mba_Hamyoe_Stage1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Hamoye Stage 1 assessment**

In [1]:
import numpy as np

In [5]:
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
import seaborn as sns

In [11]:
url='https://github.com/WalePhenomenon/climate_change/blob/master/fuel_ferc1.csv?raw=true'

In [12]:
fuel_data = pd.read_csv(url, error_bad_lines=False)

In [13]:
print(fuel_data)

                     record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]

In [14]:
fuel_data.describe(include='all')

                       record_id  ...  fuel_cost_per_mmbtu
count                      29523  ...         29523.000000
unique                     29523  ...                  NaN
top     f1_fuel_2005_12_193_1_11  ...                  NaN
freq                           1  ...                  NaN
mean                         NaN  ...            19.304354
std                          NaN  ...          2091.540939
min                          NaN  ...           -41.501000
25%                          NaN  ...             1.940000
50%                          NaN  ...             4.127000
75%                          NaN  ...             7.745000
max                          NaN  ...        359278.000000

[11 rows x 11 columns]

In [15]:
fuel_data.groupby('fuel_unit')['fuel_unit'].count()

fuel_unit
bbl        7998
gal          84
gramsU      464
kgU         110
mcf       11354
mmbtu       180
mwdth        95
mwhth       100
ton        8958
Name: fuel_unit, dtype: int64

In [17]:
fuel_data[['fuel_unit']] = fuel_data[['fuel_unit']].fillna(value='mcf')

In [18]:
fuel_data.isnull().sum()

record_id                       0
utility_id_ferc1                0
report_year                     0
plant_name_ferc1                0
fuel_type_code_pudl             0
fuel_unit                       0
fuel_qty_burned                 0
fuel_mmbtu_per_unit             0
fuel_cost_per_unit_burned       0
fuel_cost_per_unit_delivered    0
fuel_cost_per_mmbtu             0
dtype: int64

In [19]:
fuel_data.groupby('report_year')['report_year'].count()

report_year
1994    1235
1995    1201
1996    1088
1997    1094
1998    1107
1999    1050
2000    1373
2001    1356
2002    1205
2003    1211
2004    1192
2005    1269
2006    1243
2007    1264
2008    1228
2009    1222
2010    1261
2011    1240
2012    1243
2013    1199
2014    1171
2015    1093
2016    1034
2017     993
2018     951
Name: report_year, dtype: int64

In [20]:
fuel_data.groupby('fuel_type_code_pudl').first()

                                  record_id  ...  fuel_cost_per_mmbtu
fuel_type_code_pudl                          ...
coal                  f1_fuel_1994_12_1_0_7  ...                1.121
gas                  f1_fuel_1994_12_2_0_10  ...                2.570
nuclear               f1_fuel_1994_12_2_1_1  ...                0.450
oil                   f1_fuel_1994_12_6_0_2  ...                5.469
other                f1_fuel_1994_12_11_0_6  ...                2.335
waste                 f1_fuel_1994_12_9_0_3  ...                1.072

[6 rows x 10 columns]

In [21]:
fuel_data.duplicated().any()

False

In [22]:
fuel_data.isnull().sum()

record_id                       0
utility_id_ferc1                0
report_year                     0
plant_name_ferc1                0
fuel_type_code_pudl             0
fuel_unit                       0
fuel_qty_burned                 0
fuel_mmbtu_per_unit             0
fuel_cost_per_unit_burned       0
fuel_cost_per_unit_delivered    0
fuel_cost_per_mmbtu             0
dtype: int64

In [23]:
fuel_data.describe()

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
count      29523.000000  ...         29523.000000
mean         118.601836  ...            19.304354
std           74.178353  ...          2091.540939
min            1.000000  ...           -41.501000
25%           55.000000  ...             1.940000
50%          122.000000  ...             4.127000
75%          176.000000  ...             7.745000
max          514.000000  ...        359278.000000

[8 rows x 7 columns]

In [24]:
from scipy.stats import skew

In [25]:
skew(fuel_data['fuel_cost_per_mmbtu'])

171.66681202719678

In [28]:
print(fuel_data)

                     record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]

In [29]:
print(fuel_data['fuel_unit'])

0        ton
1        ton
2        ton
3        ton
4        mcf
        ...
29518    mcf
29519    mcf
29520    mcf
29521    ton
29522    mcf
Name: fuel_unit, Length: 29523, dtype: object

In [31]:
fuel_data.isnull()

       record_id  ...  fuel_cost_per_mmbtu
0          False  ...                False
1          False  ...                False
2          False  ...                False
3          False  ...                False
4          False  ...                False
...          ...  ...                  ...
29518      False  ...                False
29519      False  ...                False
29520      False  ...                False
29521      False  ...                False
29522      False  ...                False

[29523 rows x 11 columns]

In [36]:
missing_fuel_data=fuel_data.isna

In [37]:
print(missing_fuel_data)

<bound method DataFrame.isna of                      record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]>

In [40]:
missing_fuel_data=fuel_data.isnull()

In [41]:
print(missing_fuel_data)

       record_id  ...  fuel_cost_per_mmbtu
0          False  ...                False
1          False  ...                False
2          False  ...                False
3          False  ...                False
4          False  ...                False
...          ...  ...                  ...
29518      False  ...                False
29519      False  ...                False
29520      False  ...                False
29521      False  ...                False
29522      False  ...                False

[29523 rows x 11 columns]

In [42]:
missing_fuel_data.sum()

record_id                       0
utility_id_ferc1                0
report_year                     0
plant_name_ferc1                0
fuel_type_code_pudl             0
fuel_unit                       0
fuel_qty_burned                 0
fuel_mmbtu_per_unit             0
fuel_cost_per_unit_burned       0
fuel_cost_per_unit_delivered    0
fuel_cost_per_mmbtu             0
dtype: int64

Data Set above has no null values since it was **dropped**

Running in new note_book, I get **180**

In [50]:
fuel_data.groupby('report_year').mean()

             utility_id_ferc1  ...  fuel_cost_per_mmbtu
report_year                    ...
1994               106.120648  ...             3.086977
1995               110.139051  ...             2.868838
1996               108.714154  ...             2.695880
1997               108.366545  ...             3.113486
1998               109.845528  ...             2.775862
1999               108.222857  ...             2.740251
2000               111.083758  ...             4.208403
2001               113.521386  ...             4.612658
2002               120.354357  ...             6.226281
2003               123.300578  ...             7.223933
2004               121.123322  ...             8.441597
2005               121.028369  ...             9.397078
2006               117.178600  ...            10.339898
2007               116.040348  ...            10.735181
2008               120.785016  ...            12.690115
2009               118.139116  ...            10.619376
2010               117.992863  ...             8.551217
2011               121.069355  ...             9.237591
2012               120.769912  ...             8.808904
2013               122.082569  ...             9.308225
2014               129.263877  ...            10.064673
2015               128.591949  ...             8.054361
2016               133.117021  ...             6.915613
2017               131.126888  ...           368.736351
2018               133.669821  ...             7.233643

[25 rows x 6 columns]

In [44]:
from scipy.stats import kurtosis

In [48]:
kurtosis(fuel_data["fuel_qty_burned"])

651.2589365474387

In [49]:
skew(fuel_data['fuel_qty_burned'])

15.850690077422112