<a href="https://colab.research.google.com/github/VikkiMba/Hamoye-Stage1-assessment/blob/master/Victor_Mba_HamoyeStage1b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [5]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
url='https://github.com/WalePhenomenon/climate_change/blob/master/fuel_ferc1.csv?raw=true'

In [6]:
fuel_data = pd.read_csv(url, error_bad_lines=False)

In [7]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [20]:
fuel_data.groupby('fuel_unit').first()

                         record_id  ...  fuel_cost_per_mmbtu
fuel_unit                           ...
bbl          f1_fuel_1994_12_6_0_2  ...                5.469
gal        f1_fuel_2000_12_20_0_10  ...                8.324
gramsU       f1_fuel_1994_12_9_0_8  ...                0.679
kgU          f1_fuel_1994_12_2_1_1  ...                0.450
mcf         f1_fuel_1994_12_2_0_10  ...                2.570
mmbtu       f1_fuel_1994_12_46_1_7  ...                1.170
mwdth      f1_fuel_1994_12_17_2_14  ...                0.476
mwhth       f1_fuel_1994_12_63_0_2  ...                1.114
ton          f1_fuel_1994_12_1_0_7  ...                1.121

[9 rows x 10 columns]

In [ ]:
print(fuel_data)

                     record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]

Number or rows = 29523 as seen **above**

In [25]:
f_unit=fuel_data.isnull().sum()

In [26]:
fuel_unit_null=f_unit['fuel_unit']

In [29]:
percentage_fuel_unit_null = fuel_unit_null/29523

In [30]:
print(percentage_fuel_unit_null)

0.00609694136774718

In [32]:
(180/29523)*100

0.609694136774718